section#main{ 
    flex-direction: column;
    min-height: auto;
    width: clamp(300px, 90%, 1200px);
    align-items: center;
}
#intro{ 
    width: clamp(300px, 65%, 800px);
}
section#more-details{
    border-top: none;
    width: clamp(300px, calc(0.9*65%), 800px); /* to match intro this hack kind of works. container is 90% and intro is 65% of that */ 
}

#chart-wrapper {
    max-width: 100%;
    min-height: auto;
}

#buttons { 
    align-self: flex-start;
    white-space: normal;
}

#freqChart {
    width: 100%;
    overflow: auto; 
  }
#letterBars, #letterMarkers, #letterChecks {
    display: flex; 
    align-items: flex-end; 
  }
#letterBars {
    height: 40px;
  }

#letterChecks span{
    border:none;
    font-family: 'Mansalva', cursive;
}
#freqChart span.letter {
    --letter-font-size: clamp(1.2rem, 1.2vw, 2rem);
} 
#freqChart #letterBars span {
    min-height: 0rem;
    border:none;
  }